@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;800&display=swap');
:root {
  --bg: rgb(104, 133, 98);
  --blue: #4cb5f5;
  --gray: #b7b8b6;
  --darkGreen: #34675c;
  --lightGreen: #b3c100;
  --text: #333;
  --white: #fff;
  --fontSize: 16px;
  --font: 'Raleway', sans-serif;
  --transition: .3s ease;
  --py: 60px 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font);
  background: linear-gradient(rgba(104, 133, 98, 0.8), rgba(104, 133, 98, 0.8) ), url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 50px 0;
}
.container {
  max-width: 1100px;
  margin: auto;
}
a {
  text-decoration: none;
}
button {
  background: var(--lightGreen);
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
button:hover {
  color: var(--white);
}
h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 20px;
}
/******************
navs
******************/
.navs {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}
.navs .logo {
  font-weight: 800;
}
.navs p {
  color: var(--lightGreen);
}
.navs a {
  color: var(--white);
  transition: var(--transition);
  margin-left: 10px;
}
.navs a:hover {
  color: var(--lightGreen);
}
/******************
about
******************/
.about {
  margin-top: 50px;
  display: flex;
}
.about article:first-child {
  flex: 0 0 40%;
}
.about article:first-child div:first-child {
  background: var(--darkGreen);
  padding: 50px;
}
.about article:first-child div:last-child {
  background: var(--blue);
  padding: 50px;
}
.about article h2 {
  color: var(--white);
}
.about article p {
  color: var(--white);
  padding: 20px 0;
  font-size: 1.2rem;
}
.about article:last-child {
  flex:0 0 60%;
  background: url(../img/uvod.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/******************
contact
******************/
.contact {
  background: var(--white);
  text-align: center;
  padding: var(--py);
}
.contact .row:first-child {
  padding-bottom: 50px;
}
.contact .row:last-child {
  display: flex;
}
.contact .row:last-child div {
  flex: 1;
  border-right: 1px solid var(--gray);
}
.contact .row:last-child div:last-child {
  border-right: none;
}
.contact .fa-camera-retro {
  color: var(--lightGreen);
}
.contact .fa-envelope {
  color: var(--darkGreen);
}
.contact .fa-phone {
  color: var(--blue);
}
.contact i {
  font-size: 2rem;
  border: 1px solid var(--gray);
  padding: 20px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.contact h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
/******************
galery
******************/
.galery {
  background: var(--lightGreen);
  padding: 50px;
  text-align: center;
  color: var(--white);
}
/******************
ponuda
******************/
.ponuda {
  background: var(--white);
  padding: 50px;
}
.ponuda img{
  width: 100%;
  display: block;
}
.ponuda article {
  display: flex;
}
.ponuda article div {
  flex: 0 0 50%;
}
.content {
  box-shadow: 0 0 20px gray;
}
.ponuda .text {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.ponuda .text p {
  margin-bottom: 20px;
}
.ponuda .text button {
  background: var(--blue);
}

